/*general*/

#global {
	position: relative; 
	margin-left: auto;
	margin-right: auto;
	background-color: #383838;
	width: 1136px;
	height: 640px;
}

.sidePanel {
	background-color: #383838;
	z-index: 998;
}

html {
	background-color: #383838;
}

body {
	padding:0;
	margin:0;
	background-color: #383838;
	color:#000;
	font-family: Georgia, serif;
	font-size: 20px;
}

h4, h5, ul {
	margin: 1px;
	padding: 1px;
}

h4 {
	text-decoration: underline;
}

button {
	margin: 2px;
	padding: 2px;
}

/*intro.html*/

.mainTitle {
	text-align: center; 
	font-size: 25px;
}

.subTitle {
	text-align: center; 
	color: #f9e6d6; 
	font-size: 20px; 
	text-decoration: none; 
	margin: 0
}

.styledSelect {
    background-repeat: no-repeat;
    background-color:transparent;
    width: 134px;
    font-size: 16px;
    line-height: 1;
    margin-left: 2px;
    margin-right: 2px;
    border: 0;
    border-radius: 0;
    height: 24px;
    text-indent:15px;
    appearance:none;
    -moz-appearance:none;
    -webkit-appearance: none;
}

.styledSelectGreen {
    background-image: url(../ressources/images/start/green_list_background.png);
   }
   
.styledSelectGreen option {
   background-color: #82983d;
}
  
.styledSelectRed {
  	 background-image: url(../ressources/images/start/brown_list_background.png);
	 color:#aead7a;
}

.styledSelectRed option {
   background-color: #682312;
}
   
.startButton {
	background-color:transparent;
    text-decoration:none;
	position: absolute;
	bottom: -29%;
	right: 10%;
	color:white;
	width: 122px;
	height: 107px;
	border: none;
	background-image: url(../ressources/images/start/startBoth.png);
}

.startButton:hover {
	cursor: pointer;
	background-position: 0 -107px;
}

.backButton {
	background-color:transparent;
    text-decoration:none;
	border: none;
	position: absolute; 
	top: 9%; 
	left: 23%;
	width: 30px;
	height: 32px;
	background-image: url(../ressources/images/start/backButton.png);
}

.backButton:hover {
	cursor: pointer;
	background-position: 0 -32px;
}

.armyButton {
	background-color:transparent;
    text-decoration:none;
	margin-left: 80px;
	margin-right: 60px;
	margin-top: 60px;
	margin-bottom: 60px;
	padding: 0;
	border: none;
	width: 208px;
	height: 118px;
	text-align: center;
	background-image: url(../ressources/images/start/armyButtonBack.png);
}

.armyButton:hover {
	cursor: pointer;
	background-position: 0 -118px;
}

.done {
	background-position: 0 -236px;
}

.done:hover {
	background-position: 0 -236px;
}

.intro {
    position: absolute;
	top:0;
	left:0;
	height:100%;
    width:100%;
	padding:0;
	margin:0;
	z-index: 999;
	background-color:#383838;
	background-image:url(../ressources/images/start/coverempty.jpg);
	background-repeat:no-repeat;
	background-attachment:inherit;
	background-position:center center;
	background-size:auto 100%;
}

.intro .introMenu {
	color:#aead7a;
    position: absolute;
	top:0%;
	left:0;
	height:50%;
    width:65%;
	padding:0;
	margin:0;
}

.intro h1 {
	padding:0px;
	margin:1%;
	color:#fff;
	font-size:2.8em;
	text-align:center;
}

.intro .menu {
	text-align: center;
	margin:1%;
	list-style-type:none;
}

.intro .menu li{
	font-size:1.3em;
	margin:3%;
}

.intro .menu .creditLink {
	color: #f9e6d6;
}

.intro .menu .creditLink:hover {
	color: #aead7a;
}

.intro .menu li a{
	color:#aead7a;
	text-decoration:none;
}

.intro .menu li a:hover{
	color:#f9e6d6;
	text-decoration:none;
}

/*main.html*/

#background {
	background-color: #383838;
	background-repeat:no-repeat;
}

#monster canvas {
	border: none;
}

canvas {
    text-align:center;
	margin:0 auto;
}

.layer {
    position: absolute;
	top:0px;
	left:0px;
	background-color: transparent;
}

.loadBar {
	position:absolute;
	top:30%;
	left:20%;
}

/*Map menu*/

.tableStats {
	width: 96%;
	margin-left: 2%;
}

.rightSide {
	text-align: right;
}

.leftSide {
	text-align: left;
}

.mapMenuPanel{
	margin: 3%;
	color: gray;
	z-index: 999;
	font-size: 75%;
	width: 208px;
	height: 118px;
	text-align: center;
	position:absolute;
	background-image: url(../ressources/images/fight/battleBack.png);
}

.mapMenuPanelContainer {
	padding-top: 5%;
}

.mapButton{
	background-color:transparent;
    text-decoration:none;
	border: none;
	position: absolute; 
	width: 20px;
	height: 20px;
}

.mapLeft {
	left: 17%; 
	top: 38%;
}

.mapRight {
	left: 65%; 
	top: 38%;
}

.mapDown {
	left: 41%; 
	top: 78%;
}

.mapUp {
	left: 41%; 
	top: 2%;'
}

.mapUp:hover {
	background-image:url(../ressources/images/fight/mapUp.png);
}

.mapRight:hover {
	background-image:url(../ressources/images/fight/mapRight.png);
}

.mapLeft:hover {
	background-image:url(../ressources/images/fight/mapLeft.png);
}

.mapDown:hover {
	background-image:url(../ressources/images/fight/mapDown.png);
}

.mapButton:hover{
	cursor: pointer;
}

.monsterWatcher {
	top:0;
	left:0;
}

.dices {
	top:0;
	right:0;
}

.mapWatcher {
	bottom:0;
	left:0;
}

.stuff {
	bottom:0;
	right:0;
}

.stuff a{
	font-size: 20px;
	color:#aead7a;
	text-decoration:none;
}

.stuff a:hover{
	color:#f9e6d6;
	text-decoration:none;
}

/*mapEditor.html*/

.editor {
	display:inline;
	height:100%;
	width:100%;
	padding:0;
	margin:0;
}

.selector {
	margin-left:20%;
	width:60%;
	background-color:#cecece;
	border: 1px solid #333333;
}

.align {
	margin-left:30%;
	background-color:#cecece;
	border: 1px solid #333333;
}

.align tr {
}

.align tr td {
	text-align: left;
}